<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <header>
                <body>
                    <div class="center">
                        <img src="imagens/imagecacaushow.png" alt="Foto de paisagem">

                            <hr>
                            <ul>
                                <li>
                                    <a href="index.html">Início</a>
                                </li>
                                <li>
                                    <a href="historia.html">História</a>
                                </li>
                                <li>
                                    <a href="falecnsc.html">Fale Conosco</a>
                                </li>
                            </ul>
                    </div>
                    
                    <div class="formulario">
                        <form action="/cadastrar" method="POST">
          
                            <label for="usuario">Usuário:</label>
                            <input type="text" id="usuario" name="usuario" required>

                            <label for="senha">Senha:</label>
                            <input type="text" id="senha" name="senha" required>

                            <label for="repsenha">Repita a Senha:</label>
                            <input type="text" id="repsenha" name="repsenha" required>

                            <button type="submit">Cadastrar</button>
                        </form>
                        
                    </div>
    </div>
</body>
</html>                                                                                                               

