<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale Conosco</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
            <div class="container">
            <nav>
                <header>
                    <body>
                        <div class="center">
                         <img src="imagens/imagecacaushow.png" alt="Foto de paisagem">

                            <hr>
                            <ul class="falecnsc">
                                <li>
                                    <a href="/">Início</a>
                                </li>
                                <li>
                                    <a href="/login">Entrar</a>
                                </li>

                                <li>
                                    <a href="/loja">Loja</a>
                                </li>

                                <li>
                                    <a href="/historia">Historia</a>
                                </li>
                            </ul>
                            
                            
                        </div>
                        <h1 class="falecnsc">Nosso Local</h1>
                        <div class="falecnsc">
                            
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d468.7934153958017!2d-44.
                            040726800000066!3d-19.9518905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                            1!3m3!1m2!1s0xa6954df69686c3%3A0x8f69a318d296e8e8!2sCacau%20Show%20-%20Chocolates!5e0!3m2!1spt-BR!2sbr
                            !4v1748041546881!5m2!1spt-BR!2sbr" 
                            width="800" 
                            height="600" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                        <div class="contato">
                            
                        <a rel="stylesheet" href="https://web.whatsapp.com/" target="link"><img src="imagens/wpp.png" alt="whatsapp"></a>
                            
                        </div>
    



</body>
</html>