<form action="/comprar" method="POST">
  <input type="text" name="nome" placeholder="Nome completo" required><br>
  <input type="text" name="endereco" placeholder="Endereço" required><br>
  <input type="text" name="cartao_credito" placeholder="Número do cartão" required><br>
  <input type="text" name="cvv" placeholder="CVV" required><br>
  <button type="submit">Comprar</button>
</form>

<form action="/login" method="POST">
  <input type="text" name="usuario" placeholder="Usuario" required><br>
  <input type="text" name="senha" placeholder="Senha" required><br>
  <button type="submit">Logar</button>
</form>

<form action="/cadastro" method="POST">
  <input type="text" name="usuario" placeholder="Usuario" required><br>
  <input type="text" name="senha" placeholder="Senha" required><br>
  <input type="text" name="repsenha" placeholder="Repetir Senha" required><br>
  <button type="submit">Cadastrar</button>
</form>