<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
    
 <body> 
    
        <div class="container">
            <nav>
                <header>
                    <body>
                        <div class="center">
                         <img src="imagens/imagecacaushow.png" alt="Foto de paisagem">

                            <hr>
                            <ul class="historia">
                                <li>
                                    <a href="/">Início</a>
                                </li>
                                <li>
                                    <a href="/login">Entrar</a>
                                </li>
                                <li>
                                    <a href="/loja">Loja</a>
                                </li>
                                <li>
                                    <a href="/falecnsc">Fale Conosco</a>
                                </li>
                            </ul>
                        </div>
                        <thead>
                            <h4>HISTÓRIA</h4>
                            <h5>
                                A história da Cacau Show começou em 1988, quando Alexandre Tadeu da Costa, então com apenas 17 anos,<p></p>
                                decidiu vender chocolates para ajudar nas despesas da família. Ao tentar atender um pedido de <p></p>
                                2.000 ovos de Páscoa recheados, percebeu que nenhum fornecedor conseguiria entregá-los no prazo. <p></p>
                                Com o apoio da mãe e utilizando a cozinha de casa, ele mesmo produziu os ovos e entregou o pedido,<p></p>
                                dando início ao que viria a se tornar uma das maiores redes de chocolates finos do Brasil.
                                <p></p>
                                Nos anos seguintes, Alexandre continuou investindo no negócio, aprimorando receitas e ampliando a produção.<p></p>
                                A grande virada aconteceu no início dos anos 2000, quando a Cacau Show adotou o modelo de franquias, com isso, <p></p>
                                a marca se espalhou rapidamente por todo o Brasil, ganhando destaque por oferecer chocolates de qualidade<p></p>
                                com preços acessíveis. A empresa se consolidou no mercado com uma linha diversificada de produtos, incluindo trufas, <p></p> 
                                bombons, kits de presente e linhas sazonais para datas comemorativas.
                                <p></p>
                                Hoje, a Cacau Show é referência nacional no setor de chocolates e possui milhares de lojas espalhadas pelo país. <p></p>
                                Além do sucesso comercial, a empresa também investe em projetos sociais, culturais e educacionais, como o Instituto Cacau Show. <p></p>
                                Com megastores, lojas-conceito e até um resort temático, a marca se mantém em constante inovação, mas sem perder <p></p>
                                a essência artesanal e empreendedora que marcou seu início.
                                
                            </h5>
                        </thead>
                    </body>

                    