<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>


<body>
    
        <div class="container">
            <nav>
                <header>
                    <body>
                        <div class="center">
                         <img src="imagens/imagecacaushow.png" alt="Foto de paisagem">

                            <hr>
                            <ul>
                                <li>
                                    <a href="index.html">Início</a>
                                </li>

                                <li>
                                    <a href="login.html">Entrar</a>
                                </li>
                                
                                <li>
                                    <a href="historia.html">História</a>
                                </li>
                                
                                <li>
                                    <a href="falecnsc.html">Fale Conosco</a>
                                </li>
                            </ul>
                        </div>
                    </body>
                </header>
            </nav>

        </div>
        

    
    <div class="center">
            
            <section>
                <div class="center">
                    <h6><img src="imagens/nossosprodutos.png" alt="nossosprodutos"></h6>
                </div>
                <div class="produto-container">
                    
                    <div class="produto">
                            <ul>
                                <li>
                                    <a href="trufas.html"><h3>TRUFAS</h3></a>
                                </li>    
                            </ul>
                            <p>As clássicas trufas recheadas que conquistam corações.</p> 
                            <img src="imagens/trufas.png" alt="Foto de paisagem"> 
                    </div>
                    <div class="produto">
                            <ul>
                                <li>
                                    <a href="panetones.html"><h3>PANETONES</h3></a>
                                </li>    
                            </ul>
                            <p>Panettones com recheio irresistível, perfeitos para compartilhar.</p>
                             <img src="imagens/panetone.png" alt="Foto de paisagem">
                    </div>
                    <div class="produto">
                            <ul>
                                <li>
                                    <a href="cestas.html"><h3>CESTAS</h3></a>
                                </li>    
                            </ul>
                        <p>Caixas e kits para presentear com carinho e sabor.</p>
                        <img src="imagens/cesta.png" alt="Foto de paisagem">
                    </div>
                
                </div>    
            </section>
            
    </div>
</body>
</html>