<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="estilo/style.css">

</head>


<body>
    <thead>
    
        <h1>
            Sistemas de ativos
        </h1>
    
        <h2>
            CBJ
        </h2>
    
    
    <div class="centerbutton">
    <button type="submit" value="submit">Consultar Ativos</button>
    </div>


    </thead>

</body>